<br><br><br>
<h2 class="text-center mb-4">INSCRIPTION</h2>

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6 col-lg-5">
    <div class="wow fadeInUp" data-wow-delay="0.2s">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row g-3">

          <div class="col-12">
            <div class="form-floating">
              <%= f.text_field :first_name, class: "form-control", id: "first_name", placeholder: "First Name", autocomplete: "given-name" %>
              <%= f.label :first_name, "First Name", for: "first_name" %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating">
              <%= f.text_field :last_name, class: "form-control", id: "last_name", placeholder: "Last Name", autocomplete: "family-name" %>
              <%= f.label :last_name, "Last Name", for: "last_name" %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating">
              <%= f.number_field :phone, class: "form-control", id: "phone", placeholder: "Phone", autocomplete: "tel" %>
              <%= f.label :phone, "Phone", for: "phone" %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating">
              <%= f.email_field :email, class: "form-control", id: "email", placeholder: "Email", autofocus: true, autocomplete: "email" %>
              <%= f.label :email, "Email", for: "email" %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating">
              <%= f.password_field :password, class: "form-control", id: "password", placeholder: "Password", autocomplete: "new-password" %>
              <%= f.label :password, "Password", for: "password" %>
            </div>
            <% if @minimum_password_length %>
              <small class="text-muted ps-2">(<%= @minimum_password_length %> caractères minimum)</small>
            <% end %>
          </div>

          <div class="col-12">
            <div class="form-floating">
              <%= f.password_field :password_confirmation, class: "form-control", id: "password_confirmation", placeholder: "Confirm Password", autocomplete: "new-password" %>
              <%= f.label :password_confirmation, "Confirm Password", for: "password_confirmation" %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-floating">
              <%= f.select :role,
                    User.roles.keys.reject { |r| r == "admin" }.map { |r| [r.humanize.capitalize, r] },
                    { prompt: "Choisissez un rôle" },
                    class: "form-select", id: "role" %>
              <%= f.label :role, "Rôle", for: "role" %>
            </div>
          </div>

          <div class="col-12">
            <%= f.submit "S'inscrire", class: "btn btn-primary w-100 py-3" %>
          </div>

        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
