<%= form_with(model: @hotel,url: provider_hotel_path, local: true) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "erreur") %> empêchent la sauvegarde :</h2>
      <ul>
        <% @hotel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name, "Nom de l'hôtel" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :stars, "Nombre d'étoiles" %><br>
    <%= f.number_field :stars %>
  </p>
  <p>
    <%= f.label :address, "Adresse" %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city, "Ville" %><br>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :gps, "Coordonnées GPS" %><br>
    <%= f.text_field :gps %>
  </p>
  <p>
    <%= f.label :service, "Services" %><br>
    <%= f.text_field :service %>
  </p>
  <p>
    <%= f.label :images, "Photos de l'hôtel" %><br>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
