<% if @trip.errors.any? %>
  <div class="bg-red-100 text-red-700 p-4 rounded-md mb-4">
    <h2><%= pluralize(trip.errors.count, "erreur") %> empêchent la création du voyage :</h2>
    <ul class="list-disc pl-5">
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>Modifier le circuit</h1>
<%= form_with model: @trip,url:provider_trip_path, local: true do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :theme %><br>
    <%= f.select :theme, ['Culturel', 'Humanitaire', 'Professionnel', 'Loisir'] %>
  </div>
  <div>
    <%= f.label :program, "Programme jour par jour" %><br>
    <%= f.text_area :program , rows: 6 %>
  </div>
  <div>
    <%= f.label :duration, "Durée (en jours)" %><br>
    <%= f.number_field :duration %>
  </div>
  <div>
    <%= f.label :departureDate %><br>
    <%= f.date_select  :departureDate %>
  </div>
  <div>
    <%= f.label :returnDate %><br>
    <%= f.date_select :returnDate %>
  </div>
  <div>
    <%= f.label :departureCity %><br>
    <%= f.text_field :departureCity %>
  </div>
  <div>
    <%= f.label :destinationCity %><br>
    <%= f.text_field :destinationCity %>
  </div>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "Retour", provider_trip_path(@trip) %>