<h1><%= @trip.title %></h1>
<p><strong>Thème :</strong> <%= @trip.theme %></p>
<p><strong>Programme :</strong> <%= simple_format(@trip.program) %></p>
<p><strong>Durée :</strong> <%= @trip.duration %> jours</p>
<p><strong>Départ :</strong> <%= @trip.departureCity %> – le <%= @trip.departureDate.strftime("%d/%m/%Y") %></p>
<p><strong>Destination :</strong> <%= @trip.destinationCity %> – retour le <%= @trip.returnDate.strftime("%d/%m/%Y") %></p>
<%= link_to "Modifier", edit_provider_trip_path(@trip) %> |
<%= link_to "Retour à la liste", dashboard_provider_path %>
