<h1>Bienvenue dans votre espace agence de voyage</h1>
<% if user_signed_in? %>
  <%= form_with url: destroy_user_session_path, method: :delete do %>
    <button type="submit"
              class="bg-red-600 text-white py-2 px-6 rounded-lg shadow hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-red-300 transition duration-200">
      Déconnexion
    </button>
  <% end %>
<% end %>
<p class="mb-2 text-gray-600">
  <h2>Vos Informations : </h2>
  Prestataire : <strong><%= @provider.type_provider %></strong><br>
  Entreprise : <strong><%= @provider.business %></strong><br>
  Adresse : <strong><%= @provider.address %></strong> <br>
  Telephone: <strong><%= @current_user.phone %></strong><br>
</p>
<%= link_to "Creer un Nouveau circuit", new_provider_trip_path %>
<h1>Liste des circuits</h1>
<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Thème</th>
      <th>Durée</th>
      <th>Départ</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.title %></td>
        <td><%= trip.theme %></td>
        <td><%= trip.duration %> jours</td>
        <td><%= trip.departureDate.strftime("%d/%m/%Y") if trip.departureDate %></td>
        <td>
          <%= link_to "Voir", provider_trip_path(trip) %> |
          <%= link_to "Modifier", edit_provider_trip_path(trip) %>
          <%= form_with url: provider_trip_path(trip), method: :delete do %>
            <button type="submit">
              supprimer
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
