<%= form_with(model: [@hotel, @room], url: provider_hotel_rooms_path, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :type_room %>
    <%= form.text_field :type_room, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= form.label :beds, "Nombre de lits" %>
    <%= form.number_field :beds, min: 1, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :services %>
    <%= form.text_field :services, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :available %>
    <%= form.check_box :available %>
  </div>
  <div class="mb-3">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>
